<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.alex.module1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Module1Act"
            android:label="@string/title_activity_module1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>